<h1>Nodes#edit</h1>

<h1>Editing page</h1>

<% form_for(@node) do |f| %>
  <%= f.error_messages %>
  
  <% fields_for @node.find_or_create_draft( current_user ) do |d| %>
  <p>
    <%= d.label :title %><br />
    <%= d.text_field :title %>
  </p>
  <p>
    <%= d.label :abstract %><br />
    <%= d.text_area :abstract %>
  </p>
  <p>
    <%= d.label :body %><br />
    <%= d.text_area :body %>
  </p>
  <% end %>
    
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
