<% content_for :subnavigation do %>
  <%= link_to 'metadata', '#', :id => 'button', :class => "unselected" %>
  <%= link_to 'Preview', @node %>
  <%= link_to 'Publish', publish_node_path, :method => :put, :confirm => "Publish this draft?" %>
  <%= link_to 'Revisions', revision_path(params[:id]) %>  
<% end %>

<div id="page_editor">
<% form_for(@node) do |f| %>
  <%= f.error_messages %>
  
  <table id="metadata">
    <tr>
      <td class="description">Event</td>
      <td><%= event_information %></td>
    </tr>
    <tr>
      <td class="description">Slug</td>
      <td><%= f.text_field :slug %></td>
    </tr>
    
    <% fields_for @draft do |d| %>
    <tr>
      <td class="description">Tags - comma seperated</td>
      <td><%= text_field_tag :tag_list, @draft.tag_list.join(", ") %></td>
    </tr>
    <tr>
      <td class="description">Publish at</td>
      <td><%= d.datetime_select :published_at %></td>
    </tr>
    <tr>
      <td class="description">Template</td>
      <td><%= d.select :template_name, custom_page_templates, {:prompt => 'Select Template'} %></td>
    </tr>
  </table>
  
  <table id="content">
    <tr>
      <td class="description">Title</td>
      <td><%= d.text_field :title %></td>
    </tr>
    <tr>
      <td class="description">Abstract</td>
      <td><%= d.text_area :abstract %></td>
    </tr>
    <tr>
      <td class="description">Body</td>
      <td><%= d.text_area :body, :class => 'with_editor' %></td>
    </tr>
    <tr>
      <td></td>
      <td class="right"><%= d.submit 'save' %></td>
    </tr>
  </table>
  <% end %>
<% end %>
</div>