<div id='subnavigation'>
  <%= link_to 'Show', @node %>
  <%= link_to 'Back', nodes_path %>
  <%= link_to 'Publish', publish_node_path, :method => :put %>
</div>

<h1>Editing page</h1>

<strong>Sprache:</strong> <%= I18n.locale %> <strong>Pfad:</strong> <%= @node.unique_name %>

<div class="page_editor">
  <% form_for(@node) do |f| %>
    <%= f.error_messages %>
    
    <% fields_for @draft do |d| %>
    
    <p>
      <%= d.label :published_at %><br />
      <%= d.datetime_select :published_at %>
    </p>
    <p>
      <%= d.label :template_name %>
      <%= d.select :template_name, custom_page_templates, {:prompt => 'Select Template'} %>
    </p>
    <p>
      <%= d.label :title %><br />
      <%= d.text_field :title %>
    </p>
    <p>
       <%= d.label 'Tags, comma sperated' %><br />
       <%= text_field_tag :tag_list, @draft.tag_list.join(", ") %>
    </p>
    <p>
      <%= d.label :abstract %><br />
      <%= d.text_area :abstract %>
    </p>
    <p>
      <%= d.label :body %><br />
      <%= d.text_area :body, :class => 'with_editor' %>
    </p>
    <% end %>
      
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
</div>
