<h1>Nodes#edit</h1>

<%= link_to 'Publish', publish_node_path, :method => :put %>

<h1>Editing page</h1>

<%= I18n.locale %>

<%= @node.unique_name %>

<div class="page_editor">
  <% form_for(@node) do |f| %>
    <%= f.error_messages %>
    
    <% draft = @node.find_or_create_draft( current_user ) %>
    <% fields_for draft do |d| %>
    <p></p>
    <p>
      <%= d.label :title %><br />
      <%= d.text_field :title %>
    </p>
    <p>
      <%= d.label :abstract %><br />
      <%= d.text_area :abstract %>
    </p>
    <p>
      <%= d.label :body %><br />
      <%= d.text_area :body, :class => 'with_editor' %>
    </p>
    <% end %>
      
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
  
  <%= link_to 'Show', @node %> |
  <%= link_to 'Back', nodes_path %>
</div>