<h1>Nodes</h1>

<%= will_paginate @nodes %>

<table id="node_table">
  <% @nodes.each do |node| %>
  <tr>
    <td><%= link_to node.unique_name, node_path(node) %></td>
    <td><%= node.head.title if node.head %></td>
    <td>
      <%= link_to 'Show',     node_path(node) %>
      <%= link_to 'Edit',     edit_node_path(node) %>
      <%= link_to 'Destroy',  node, :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @nodes %>
