<% content_for :subnavigation do %>
  <%= link_to 'Create', new_node_path %>
<% end %>
<h1>Nodes</h1>

<%= will_paginate @nodes %>
  <table id="node_table">
    <tr class="header">
      <th class="node_id">ID</th>
      <th class="title">Title</th>
      <th class="actions">Actions</th>
      <th class="editor">Locked by</th>
      <th class="revision">Rev.</th>
    </tr>
    <% @nodes.each do |node| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td class="node_id"><%= node.id %></td>
      <td class="title">
        <h4><%= link_to title_for_node(node), edit_node_path(node) %></h4>
        <p><%= link_to_path(node.unique_name, node.unique_name) %></p>
      </td>
      <td class="actions">
          <%= link_to 'Preview',     node_path(node) %>
          <%= link_to 'Revisions', :controller => :revisions, :action => :show, :id => node.id %>
          <%# link_to 'Destroy',  node, :method => :delete, :confirm => "Are you sure you want to delete this node?" %>
          <%= link_to 'Unlock', unlock_node_path(node), :method => :put, :confirm => "Are you sure you want to unlock?" %>
      </td>
      <td>
        <%= node.lock_owner.login if node.lock_owner %>
      </td>
      <td>
        <%= node.draft ? node.draft.revision : node.head.revision %>
      </td>
    </tr>
    <% end %>
  </table>
<%= will_paginate @nodes %>

