<div id="subnavigation">
  <%= link_to 'Create', new_node_path %>
</div>
<h1>Nodes</h1>

<%= will_paginate @nodes %>
<p>
  <table id="node_table">
    <tr>
      <th class="title">Title</th>
      <th class="path">Path</th>
      <th class="actions">Actions</th>
      <th class="editor">Locked by</th>
    </tr>
    <% @nodes.each do |node| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td>
        <strong>
          <%= title_for_node node %>
        </strong>
      </td>
      <td><%= node.unique_name %></td>
      <td>
        <%= link_to 'Show',     node_path(node) %>
        <%= link_to 'Edit',     edit_node_path(node) %>
        <%= link_to 'Destroy',  node, :method => :delete %>
      </td>
      <td>
        <%= "#{node.draft.user.login}" if node.draft && node.draft.user %>
      </td>
    </tr>
    <% end %>
  </table>
</p>
<%= will_paginate @nodes %>

<% content_for :menu do %>
  <%= link_to 'Create', new_node_path %>
<% end %>