<h1>Create new node</h1>

<%= error_messages_for :node %>


<p>What kind of node do you want to create?</p>

<% form_tag nodes_path do %>
<table id="new_node">
  <tr>
    <td class="description">Type</td>
    <td>
      <div>
        <%= radio_button_tag :kind, "top_level" %>
        Top Level
      </div>
      <p>
        <%= radio_button_tag :kind, "generic", :selected => true %>
        Generic ( can be created anywhere )
      </p>
      <p>
        <%= radio_button_tag :kind, "update" %>
        Update / Press release ( is automatically created in /updates )
      </p>
    </td>
  </tr>
  <tr>
    <td class="description">Title</td>
    <td><%= text_field_tag :title %></td>
  </tr>
  <tr id="parent_search_field">
    <td class="description">Parent</td>
    <td>
      <%= text_field_tag :parent_search_term %>
      <%= hidden_field_tag :parent_id %>
      <div id="search_results">

      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="right"><%= submit_tag "Create" %></td>
  </tr>
</table>
<% end %>