<h1>Create new node</h1>

<%= error_messages_for :node %>

<% form_for @node do |f| %>
  <p>
    <%= f.label 'Parent node' %><br />
    <%= select_tag( 
          :parent_id, 
          options_for_select(
            Node.root.self_and_descendants.select{|x| x.level < 3}.map{|x| [x.unique_name,x.id]}
          )
        ) %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p><%= f.submit 'Create node' %></p>
<% end %>