<% content_for :subnavigation do %>
  <%= link_to 'Edit', edit_node_path(@node), :class => "unselected" %>
  <%= link_to 'Preview', preview_page_path(@page) %>
  <%= link_to 'Revisions', revision_path(params[:id]) %>  
<% end %>


<div id="page_editor" class="show_node">
  <table id="content">
    <tr>
      <th class="description"></th>
      <th class="content"></th>
    </tr>
    <tr>
      <td class="description">Title</td>
      <td><%= @page.title %></td>
    </tr>
    <tr>
      <td class="description">Abstract</td>
      <td><%= @page.abstract %></td>
    </tr>
    <tr>
      <td class="description">Body</td>
      <td><%= @page.body %></td>
    </tr>
    <tr>
      <td></td>
      <td class="right"></td>
    </tr>
  </table>
</div>