<% content_for :subnavigation do %>
  <%= link_to "new", new_menu_item_path %>
<% end %>


<h1>Menu Items</h1>

<table id="menu_item_list">
  <% @menu_items.each do |menu_item| %>
  <tr id="menu_items-<%= menu_item.id %>">
    <td><%= menu_item.title %></td>
    <td><%= link_to "Edit", edit_menu_item_path(menu_item) %></td>
    <td>
      <%= link_to( 
            "Delete", 
            menu_item_path(menu_item),
            :method => :delete,
            :confirm => "Are you sure?"
          ) %>
    </td>
  </tr>
  <% end %>
</table>