<h1>Create new user</h1>

<%= error_messages_for :user %>

<% form_for @user do |f| %>
<table id="new_node">
  <tr>
    <td class="description">Login</td>
    <td><%= f.text_field :login %></td>
  </tr>
  <tr>
    <td class="description">E-Mail</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td class="description">Password</td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td class="description">Confirm</td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td class="description">Admin?</td>
    <td><%= f.check_box :admin %></td>
  </tr>
  <tr>
    <td class="description"></td>
    <td class="right"><%= f.submit "Create" %></td>
  </tr>
</table>
<% end %>