<% content_for :subnavigation do %>
  <%= link_to 'Edit',     edit_node_path(@node) %>
<% end %>

<h2>Revisions for Node: <%= @node.unique_name %></h2>

<% form_tag diff_revision_path do %>
<table id="revisions">
  <tr class="header">
    <th>First</th>
    <th>Last</th>
    <th>Rev.</th>
    <th>Title</th>
    <th>User</th>
    <th>Date</th>
  </tr>
<% @node.pages.reverse.each do |page| %>
  <tr>
    <td><%= radio_button_tag :start_revision, page.revision %></td>
    <td><%= radio_button_tag :end_revision, page.revision %></td>
    <td class="revision"><%= page.revision %></td>
    <td class="title"><%= page.title %></td>
    <td class="user"><%= page.user.try(:login)  %></td>
    <td class="date"><%= page.updated_at %></td>
  </tr>
<% end %>
  <tr class="no_hover">
    <td colspan="6" class="right"><%= submit_tag 'Diff revisions' %></td>
  </tr>
</table>

<% end %>