<div id="subnavigation">
  <%= link_to 'Diff revisions', :action => :diff, :id => params[:id] %>
  <%= link_to 'Edit',     edit_node_path(@node) %>
</div>

<h2>Revisions for Node: <%= @node.unique_name %></h2>

<h3>Current title: <%= @node.head.title %></h3>
<table>
<% @node.pages.reverse.each do |page| %>
  <tr>
    <td><%= page.revision %></td>
    <td><%= page.title %></td>
    <td><%= page.user.try(:login)  %></td>
    <td><%= page.updated_at %></td>
  </tr>
<% end %>
</table>