<% content_for :subnavigation do %>
  <%= link_to 'back', edit_node_path(@event.node) %>
<% end %>


<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :rrule %><br />
    <%= f.text_field :rrule %>
  </p>
  <p>
    <%= f.label :custom_rrule %><br />
    <%= f.check_box :custom_rrule %>
  </p>
  <p>
    <%= f.label :allday %><br />
    <%= f.check_box :allday %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.hidden_field :node_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>