<h1>Listing pages</h1>

<table>
  <tr>
    <th>Node</th>
    <th>Title</th>
    <th>Abstract</th>
    <th>Body</th>
    <th>Revision</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.node_id %></td>
    <td><%=h page.title %></td>
    <td><%= link_to 'Show', link_to_path(page.node.unique_path) %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
