<div class="article">
  <h2><%= @page.title %></h2>
  <hr class="subtitle" />
  <p><em><%= @page.abstract %></em></p>
  <p><%= headline_image %></p>
  <%= aggregate?(@page.body) %>
</div>

<p><%= will_paginate(@content_collection) if @content_collection %></p>