<div class="article">
  <h2><%= @page.title %></h2>
  <hr class="subtitle" />
  <p><%= sanitize( @page.abstract ) %></p>
  <div id="headline_image"><%= headline_image %></div>
  <%= aggregate?(@page.body) %>
</div>

<%= will_paginate(@content_collection) if @content_collection %>