<div class="article">
  <h2><%= @page.title %></h2>
  <h3><%= date_for_page @page %>, <%= @page.user.try(:login) %></h3>
  <hr class="subtitle" />
  <div class="abstract"><p><%= sanitize( @page.abstract )%></p></div>
  <div id="headline_image"><%= headline_image %></div>
  <div class="body"><%= aggregate?(@page.body) %></div>
</div>

<%= will_paginate(@content_collection) if @content_collection %>