<h1>New asset</h1>

<% form_for(@asset, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.file_field :upload %>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', assets_path %>