<% content_for :subnavigation do %>
  <%= link_to 'Edit', edit_asset_path(@asset) %>
  <%= link_to 'Back', assets_path %>
<% end %>

<table>
  <tr>
    <td>Thumbnail</td>
    <td><%= image_tag @asset.upload.url(:medium) %></td>
  </tr>
  <tr>
    <td>Public Path</td>
    <td><%= @asset.upload.url.sub(/\?\d+$/, "") %></td>
  </tr>
  <tr>
    <td>Content Type</td>
    <td><%= @asset.upload.content_type %></td>
  </tr>
  <tr>
    <td>Size</td>
    <td><%= "#{@asset.upload.size/1024} KB" %></td>
  </tr>
</table>