<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "ccc" %>
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <%= image_tag "header.png" %>
      </div>
      <div id="left_column">
        <%= main_menu %>
        
        <%= calendar %>
      </div>
      <div id="center_column">
        <%= yield :layout %>
      </div>
      <div id="right_column">
        
      </div>
    </div>
    
  </body>
</html>