<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "ccc" %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= javascript_include_tag 'shadowbox/shadowbox' %>
    <%= stylesheet_link_tag "shadowbox" %>
    <%= javascript_include_tag 'public' %>
    
    <%= auto_discovery_link_tag(:rss, {:controller => "rss", :action => "updates"}) %>
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <%= link_to_path(image_tag("header.png"), "/home") %>
      </div>
      <div id="search">
        <%= render :partial => "content/search" %>
      </div>
      <div id="left_column">
        <%= main_menu %>
        
        <%= language_selector %>
        <% if current_user && @page.node %>
          <%= link_to "Edit", node_path(:id => @page.node) %>
        <% end %>
        
        <%= calendar %>
      </div>
      <div id="center_column">
        <%= yield :layout %>
      </div>
      <div id="right_column">
        <%= tags %>
        <%= featured_articles %>
      </div>
    </div>
  </body>
</html>